#apiVersion: argoproj.io/v1alpha1
#kind: ApplicationSet
#metadata:
#  name: monitoring
#  namespace: argocd
spec:
  generators:
    - list:
        elements:
          - name: prometheus
            chart: kube-prometheus-stack
            chartRepo: https://prometheus-community.github.io/helm-charts
            chartVersion: 58.5.0
            valuesPath: monitoring/prometheus/values.yaml

          - name: grafana
            chart: grafana
            chartRepo: https://grafana.github.io/helm-charts
            chartVersion: 7.3.11
            valuesPath: monitoring/grafana/values.yaml

          - name: loki
            chart: loki
            chartRepo: https://grafana.github.io/helm-charts
            chartVersion: 5.41.7
            valuesPath: monitoring/loki/values.yaml

          - name: promtail
            chart: promtail
            chartRepo: https://grafana.github.io/helm-charts
            chartVersion: 6.16.6
            valuesPath: monitoring/promtail/values.yaml

  template:
    metadata:
      name: '{{name}}'
    spec:
      project: default

      destination:
        server: https://kubernetes.default.svc
        namespace: monitoring

      sources:
        # Helm chart
        - repoURL: '{{chartRepo}}'
          chart: '{{chart}}'
          targetRevision: '{{chartVersion}}'
          helm:
            valueFiles:
              - $values/{{valuesPath}}

        # Repo ли values.yaml
        - repoURL: https://github.com/PainApplee/k8s-monitoring-gitops
          targetRevision: main
          ref: values

      syncPolicy:
        syncOptions:
          - CreateNamespace=true
