loki:
  enabled: true
  isDefault: false
  url: http://{{ include "loki.fullname" . }}-write:3100
  
  persistence:
    enabled: true
    size: 5Gi
  
  resources:
    limits:
      memory: 256Mi
      cpu: 250m
    requests:
      memory: 128Mi
      cpu: 100m
  
  loki:
    auth_enabled: false
    commonConfig:
      replication_factor: 1
    storage:
      type: filesystem
    limits_config:
      enforce_metric_name: false
      reject_old_samples: true
      reject_old_samples_max_age: 168h
      max_streams_matchers_per_query: 10000
      max_cache_freshness_per_query: 10m

# loki:
#   enabled: true
#   commonConfig:
#     replication_factor: 1
#   persistence:
#     enabled: true
#     size: 10Gi
