apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: monitoring-prometheus
  namespace: argocd
spec:
  generators:
    - list:
        elements:
          - name: prometheus
            path: monitoring/charts/prometheus

  template:
    metadata:
      name: monitoring-prometheus
      annotations:
        argocd.argoproj.io/sync-wave: "5"
    spec:
      project: default

      source:
        repoURL: https://github.com/PainApplee/k8s-monitoring-gitops.git
        targetRevision: main
        path: monitoring/charts/prometheus
        helm:
          values: |
            server:
              retention: 6h
              persistentVolume:
                enabled: false
              resources:
                requests:
                  cpu: 100m
                  memory: 256Mi
                limits:
                  memory: 512Mi
            alertmanager:
              enabled: false
            pushgateway:
              enabled: false

      destination:
        server: https://kubernetes.default.svc
        namespace: monitoring

      syncPolicy:
        automated:
          prune: true
          selfHeal: true
